<html lang="en">
  <head>
    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->
    <base href="/">
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="img/favicon.ico"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>QlikWorld 2023 - Workshops</title>
    
    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="style.css" />

    <link rel="stylesheet" href="node_modules/leonardo-ui/dist/leonardo-ui.css" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <div style="height: 167px;width:100%;max-width: 1000px;background: #f5f4f8">
        <img style="margin: 48;width: 240px" src="https://www.qlik.com/us/-/media/images/qlik/global/qlik-logo-2x.png?rev=1167e952ae934867bc9ee7f3d4952e1f" alt="Qlik">
    </div>
    {{#if done}}
      <div class="content" role="main">
        
        
        <!-- This is the start of content for our page -->
        <h1 class="lui-text-success">
          Great, an invitation email is on its way!!
        </h1>
      
        <p>Go to your inbox and follow the instructions in the email.</p>

        <p>Thanks!</p>
        
        
        <p>
          <button type="button" onclick="window.close();">You can close this window now</button>
        </p>
      </div>
      {{/if}}
      
      
      {{#if error}}
      <div class="content" role="main">
        
        <!-- This is the start of content for our page -->
        <h1 class="lui-text-danger"><span class="lui-icon lui-icon--warning-triangle" aria-hidden="true" style="font-size: 1em"></span> Oops, something went wrong</h1>        
           
        <p>
             Please, ask the session owner for assistance.
        </p>
      
        

      </div>
      {{/if}}
      <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
    <footer class="footer">
      <div class="links"></div>
    </footer>
    </div>

    
  </body>
</html>
